<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Notes</title>
    <!-- Bootstrap core CSS -->
    <script src="https://kit.fontawesome.com/ad8141d9bb.js" crossorigin="anonymous"></script>
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/vendor/bootstrap/css/shop-homepage.css" rel="stylesheet" />
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">NOTES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-wrench"></i> Yönetim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/MostLiked"><i class="far fa-heart"></i> En Beğenilenler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index"><i class="fas fa-list"></i> Son Yazılanlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About"><i class="fas fa-info-circle"></i> Hakkımızda</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i> Giriş</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-user"></i> Üye Ol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user"></i> EKD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Çıkış</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    @RenderBody()
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>Site Haritası</h5>
                <hr />
                <p>
                    <a href="#" style="color:azure">wdewSF</a><br />
                    <a href="#" style="color:azure">wdewSF</a><br />
                    <a href="#" style="color:azure">wdewSF</a>
                </p>

            </div>
            <div class="col-lg-4 text-center">
                <h5>My Evernote</h5>
                <hr />
                <p class="m-0 text-center text-white">Tüm hakları saklıdır. &copy; @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>E-Bülten Üyeliği</h5>
                <hr />
                <div class="col-md-12">
              <div class="input-group"> 
                        <input type="text" placeholder="E-posta giriniz.." class="form-control" />
                 
                        <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Gönder</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <!-- Bootstrap core JavaScript -->

</body>
</html>


