
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
         
            @Html.Partial("_PartialCategories")
            </div>
                        
            <div class="col-md-9">
                <div class="row ">
                    <h2 style="color:#2e8b57">
                        Amet, consectetur adipiscing elit.
                    </h2>
                    <br />
                   
                    <img src="http://placehold.it/500x200" class=" img-responsive img-rounded img-thumbnail " alt="Alternate Text" />
                    <hr />
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>
                    <p>shdklsadıljskajklajkdjklsndlksajdksadnkadsbcydsjhdb ds ufgbd f ıldsnkfödgöfnfd.fçödhbbfn ö</p>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
    <!-- /.row -->
</div>

    